*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.body{
    font-family: 'Open Sans', sans-serif;
}
.wrapper-main {
    position: relative;
    margin: 0 0 41px 0;
}


.navbar-wrapper{
    padding: 12px 40px;
    text-align: center;
    background-color: rgba(255,255,255,0.2);
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 5px 0 #777;
    z-index: 5;
}
.navbar-wrapper a{
    text-decoration: none;
}
.navbar-wrapper .navlinks-wrapper{
    padding: 13px 0;
    display: inline-block;
}
.navbar-wrapper .navlinks-wrapper li{
    display: inline-block;
    font-size: 14px;
   
}
.navbar-wrapper .brand-logo{
    font-size: 0;
    float: left;
}
.navbar-wrapper .navlinks-wrapper li:not(:last-child){
    margin: 0 30px 0 0;
   
}

.btn-primary  {
    background-color: #2086fb;
    border: none;
    border-radius: 50px;
    color: white;
    text-align: center;
    padding: 12px 30px;
    font-size: 15px;

}
.navbar-wrapper .submit-btn{
    float: right;
}
.brand-logo img{
    height: 44px;
    width: auto;
}
.navbar-wrapper::after {
    content: "";
    display: block;
    clear: both;
}
.banner-image {
    height: 568px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url("https://live.staticflickr.com/65535/52347598683_bc3cb9b567_h.jpg");
    background-size: cover;
    

}
.nav-link {
    line-height: 19px;
    font-size: 14px;
    color: #fff;
}
.nav-link:hover {
    color: black;
}
.text-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}
.search-bar-wrapper{
    position: relative;
    border:5px solid rgba(255,255,255,0.2);
    border-radius: 4px;
    
}

.search-bar-wrapper .fa-solid {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50px;
    cursor: pointer;
    font-size: 15px;
    border: none;
    background-color: #fff;

}
.form-control {
    width: 926px;
    height: 53px;
    border: none;
    padding:0  50px 0  20px;
    
}


.search-bar-wrapper input{
    outline: none;
}
.innertext{
    margin: 0 0 24px 0;
}

.heading {
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 41px;
    
}
.cards {
   padding: 20px 20px 40px;
   max-width: 1200px;
   margin: 0 auto;

}

.box-items {
    height: 328px;
    width: 25%;
    float: left;
    list-style: none;
    text-align: center;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;

}

.box-items:nth-child(4n + 4) {
    border-right: none;
}

.box-items:nth-child(1n+5) {
    border-bottom: none;
}
.box-images{
    display: inline-block;
    margin: 52px 0 24px;
    
}

.box-items img {
    
    width: 80px;
    height: auto;
}
.card-lists::after {
    content: "";
    display: block;
    clear: both;
}
.card-title {
    line-height: 24px;
    font-size: 18px;
    margin: 0 0 10px 0;
}

.card-text {
    line-height: 1.6;
    font-size: 16px;
    margin: 0 32px 60px;
  
}

.footer {
    height: 288px;
    width: auto;
    background-color: #323232;
    position: relative;
}

.footer-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-family: OpenSans-Semibold, sans-serif, Arial;
}

.chat-request{
    padding-right:  40px;
    padding-left: 40px;
    text-decoration: none;
    display: inline-block;
}

.footer-content .sub-content {
    font-size: 15px;
    text-align: center;
    margin: 4px 0 48px 0;
}

.copyright {
    height: 68px;
    width: auto;
    background-color: #252525;
}

.content-left p {
    color: white;
    font-size: 14px;
    padding: 25px 0 24px 40px;
}
