*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}
.body{
    font-family: 'Open Sans', sans-serif;
}

h1,.heading__h1{
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 41px;
    font-weight: 600;
   

}
.hero {
    position: relative;
    margin: 0 0 41px 0;
}


.navbar__wrapper{
    padding: 12px 40px;
    text-align: center;
    background-color: rgba(255,255,255,0.2);
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 5px 0 #777;
    z-index: 5;
}
.navbar__wrapper a{
    text-decoration: none;
}
.navbar__wrapper .navlinks__wrapper{
    padding: 13px 0;
    display: inline-block;
}
.navbar__wrapper .navlinks__wrapper li{
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
   
}
 .brand__logo{
    font-size: 0;
    float: left;
}
.navbar__wrapper .navlinks__wrapper li:not(:last-child){
    margin: 0 30px 0 0;
   
}
.btn{
    border: none;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
}
.btn-primary{
    background-color: #2086fb;
    color: white;
}
.btn-md{
    padding: 12px 30px;
}

.navbar__wrapper .submit__btn{
   
    float: right;
}
.brand__logo img{
    height: 44px;
    width: auto;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.banner__image {
    height: 568px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url("https://live.staticflickr.com/65535/52347598683_bc3cb9b567_h.jpg");
    background-size: cover;
    

}
.nav__link {
    line-height: 19px;
    font-size: 14px;
    color: #fff;
}
.nav__link:hover {
    color: black;
}
.wrapper__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}
.wrapper__search__bar{
    position: relative;
    border:5px solid rgba(255,255,255,0.2);
    border-radius: 4px;
    
}

.wrapper__search__bar .fa-solid {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50px;
    cursor: pointer;
    font-size: 15px;
    border: none;
    background-color: #fff;

}
.form__control {
    width: 926px;
    height: 53px;
    border: none;
    padding:0  50px 0  20px;
    
}


.wrapper__search__bar input{
    outline: none;
}
.wrapper__innertext{
    
    margin: 0 0 24px 0;
}


.cards {
   padding: 20px 20px 40px;
   max-width: 1200px;
   margin: 0 auto;

}

.card__items {
    height: 328px;
    width: 25%;
    float: left;
    list-style: none;
    text-align: center;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;

}

.card__items:nth-child(4n + 4) {
    border-right: none;
}

.card__items:nth-child(1n+5) {
    border-bottom: none;
}
.card__image{
    display: inline-block;
    margin: 52px 0 24px;
    
}

.card__items img {
    
    width: 80px;
    height: auto;
}


.card__title {
    line-height: 24px;
    font-size: 18px;
    margin: 0 0 10px 0;
    font-weight: 600;
    color:#4a4a4a;
}

.card__paragraph {
    line-height: 1.6;
    font-size: 16px;
    margin: 0 32px 60px;
    color: #858585;
  
}

.footer {
    height: 288px;
    width: auto;
    background-color: #323232;
    position: relative;
}

.footer__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-family: OpenSans-Semibold, sans-serif, Arial;
}

.btn-lg{
   
    padding: 12px 40px;
   
}

.footer__content .sub__content {
    font-size: 15px;
    text-align: center;
    margin: 4px 0 48px 0;
    font-weight: 600;
}

.copyright__content {
    height: 68px;
    width: auto;
    background-color: #252525;
    position: relative;
    font-weight: 600;
    
}

 .content__paragraph {
    color: white;
    font-size: 14px;
    padding: 25px 0 24px 40px;
}

.copyright__content  a{
    position: absolute;
    right: 52px;
    top:-10px;
    
}

.btn-dark{
    background-color: #4a4a4a;
    color: #979797;
   
}
.btn-sm{
    min-width:28px;
    height: 28px;
    padding: 2px 0;
    border-radius: 4px;
}